body {
    /*background-image: linear-gradient(90deg, #33b7e2, #a680da, #fd81b8);*/
    background-image: linear-gradient(90deg, #3499bd, #976ccd, #bd648d);
}

#root {
    height: 100%;
    width: 100%;
    position: relative;
}

input[type="text"], input[type="password"] {
    background-color: #ffffff;
    color: #5c5c5c;
}

input[type="text"]:focus, input[type="password"]:focus {
    color: #5c5c5c;
    background-color: #ffffff;
    border: 1px solid #a8a8a8;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
    color: #c5c5c5;
}

.full-width {
    width: 100vw;
}

.full-height {
    height: 100vh;
}
