.GamePlaySessionQuestionUnanswered > .card {
    text-shadow: 1px 1px 1px #707070;
}

.GamePlaySessionQuestionUnanswered > .card code {
    text-shadow: none;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: #ffffff;
    color: #565656;
    margin: 0 0.1rem;
}

.GamePlaySessionQuestionUnanswered > .card pre {
    overflow: visible;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.GamePlaySessionQuestionUnanswered > .card > .card-header code {
    font-size: 1rem;
}

main .btn.btn-primary {
    box-shadow: rgba(64, 60, 67, 0.4) 1px 2px 4px 1px !important;
}
