.GamePlaySessionQuestionUnanswered > .card {
    text-shadow: 1px 1px 1px #707070;
}

.GamePlaySessionQuestionUnanswered > .card code {
    text-shadow: none;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: #ffffff;
    color: #565656;
    margin: 0 0.1rem;
}

.GamePlaySessionQuestionUnanswered > .card > .card-header code {
    font-size: 1rem;
}

main .btn.btn-primary {
    box-shadow: rgba(64, 60, 67, 0.4) 1px 2px 4px 1px !important;
}
