#root {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 82px;
}

nav {
    height: 82px;
}

main {
    padding: 30px 10px;
}

main > .container {
    min-height: calc(100vh - 198px);
}

footer {
    height: 56px;
}
