#root {
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 82px;
}

body {
    background-image: linear-gradient(90deg, #33b7e2, #a680da, #fd81b8);
}

nav {
    height: 82px;
}

main {
    padding: 30px 10px;
}

main > .container {
    min-height: calc(100vh - 198px);
    transition: height 0.3s;
    max-width: 1024px;
}

footer {
    height: 56px;
}
